VITE_ENV='development'
VITE_WEB_TITLE='PCL.N 插件中心'
VITE_WEB_EN_TITLE='PCL.N Plugin Center'
VITE_LOGIN_TITLE='PCL.N 插件中心'
VITE_LOGIN_EN_TITLE='PCL.N Plugin Center'
VITE_WEB_BASE_API='/api'
VITE_SERVER='http://localhost:5080'
VITE_ROUTER_MODE='history'
VITE_DROP_CONSOLE=false
VITE_SUPABASE_URL='https://your-project-ref.supabase.co'
VITE_SUPABASE_PUBLISHABLE_KEY='sb_publishable_replace_me'
VITE_BASE_PATH='/'
